* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

ul, li {
  margin: 0;
  padding: 0; }

span {
  display: block; }

p {
  margin: 0; }

@page {
  size: A4;
  margin: 15mm 0 20mm 0; }

@page :first {
  margin-top: 10mm; }

.content {
  width: 1000px;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #222222; }

.markdown h1 {
  font-size: 160%;
  font-weight: bolder; }

.markdown h2 {
  font-size: 150%;
  font-weight: bolder; }

.markdown h3 {
  font-size: 140%;
  font-weight: bolder; }

.markdown h4 {
  font-size: 130%;
  font-weight: bold; }

.markdown h5 {
  font-size: 120%;
  font-weight: bold; }

.markdown h6 {
  font-size: 110%;
  font-weight: bold; }

.markdown a {
  color: #222222;
  font-weight: inherit;
  text-decoration: none; }
  .markdown a[href] {
    text-decoration: underline;
    text-decoration-color: #555555; }

.markdown p {
  line-height: 1.2;
  margin-top: 30px; }

.markdown ul, .markdown ol {
  margin-left: 30px; }

.markdown img {
  display: block;
  margin: 30px auto;
  max-width: 1000px;
  text-align: center; }

.markdown blockquote {
  margin: 30px 0;
  padding: 15px 30px; }
  .markdown blockquote p {
    display: inline; }

.markdown code {
  font-family: monospace; }

.header {
  padding-top: 35px;
  text-align: right; }
  .header ul {
    font-size: 18px;
    list-style-type: none;
    break-inside: avoid; }
    .header ul li {
      line-height: 1.5em; }
      .header ul li.name {
        font-weight: bold; }
      .header ul li.margin-text {
        margin-top: 0.8em; }

.letter {
  font-size: 20px;
  padding: 200px 0; }
