doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        style
            include styles.css
        title Actual letter theme for JSON Resume
    body
        div(class='content')
            include pug/header
            include pug/letter

