$content-width: 1000px;
$content-main-percentage: 70%;
$content-side-percentage: 100% - $content-main-percentage;

$space: 30px;

$line-height: 1.6em;

$margin-text: 14px;

$text-color: #222222;

$header-font-size: 18px;
$letter-font-size: 20px;
